* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #666666;
  outline: none;
}

h1, h2, button {
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

.header {
  text-align: center;
  margin-top: 100px;
}

.header__subtitle {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.header__title {
  font-size: 60px;
  margin-bottom: 20px;
  color: #ffcc00;
}

.header__img {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.header__img::before, .header__img::after {
  content: '';
  position: absolute;
  top: 30%;
  max-width: 210px;
  width: 210px;
  height: 1px;
  background-color: #ffcc00;
}

.header__img::before {
  right: 25px;
}

.header__img::after {
  left: 25px;
}

.header__columns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.header__left-btn, .header__right-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  visibility: hidden;
}

.header__left-btn:active::before, .header__right-btn:active::before {
  border-color: #f0c000;
}

.header__left-btn::before, .header__right-btn::before {
  content: '';
  position: absolute;
  top: -3px;
  visibility: visible;
  width: 15px;
  height: 15px;
  border-left: 3px solid #ffcc00;
  border-top: 3px solid #ffcc00;
}

.header__left-btn {
  left: 0;
}

.header__left-btn::before {
  left: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__left-btn:active::before {
  left: -3px;
}

.header__right-btn {
  right: 0;
}

.header__right-btn::before {
  right: 0px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header__right-btn:active::before {
  right: -3px;
}

.header__column {
  width: 50%;
  padding: 50px;
}

.header__container {
  position: relative;
  max-width: 418px;
  max-height: 418px;
  margin: 0 auto;
  padding: 15px;
}

.header__container--angle::before, .header__container--angle::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #ffcc00;
}

.header__container .angle-1::after,
.header__container .angle-2::after,
.header__container .angle-3::after,
.header__container .angle-4::after {
  height: 100px;
  width: 1px;
}

.header__container .angle-1::before,
.header__container .angle-2::before,
.header__container .angle-3::before,
.header__container .angle-4::before {
  width: 100px;
  height: 1px;
}

.header__container .angle-1::before,
.header__container .angle-1::after,
.header__container .angle-2::before,
.header__container .angle-2::after {
  top: 0;
}

.header__container .angle-3::before,
.header__container .angle-3::after,
.header__container .angle-4::before,
.header__container .angle-4::after {
  bottom: 0;
}

.header__container .angle-1::before,
.header__container .angle-1::after,
.header__container .angle-3::before,
.header__container .angle-3::after {
  left: 0;
}

.header__container .angle-2::before,
.header__container .angle-2::after,
.header__container .angle-4::before,
.header__container .angle-4::after {
  right: 0;
}

.header__between {
  height: 100%;
  width: 1px;
  min-height: 560px;
  background-color: #ffcc00;
}

.header__teammate img {
  border: 1px solid #ffcc00;
}

.header__teammate-name {
  position: relative;
  font-size: 36px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.header__teammate-name::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: #ffcc00;
}

.header__teammate-position {
  display: block;
  font-size: 24px;
  margin-bottom: 30px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.header__item {
  margin-right: 5px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  color: #ccc;
  font-size: 12px;
}

.header__link:hover {
  color: #ffcc00;
  border-color: #ffcc00;
  -webkit-transition: color .2s ease-in, border-color .2s ease-out;
  transition: color .2s ease-in, border-color .2s ease-out;
}

.header__text {
  max-width: 420px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header__text-under {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 4px;
  margin-bottom: 25px;
  background-color: #ffcc00;
}

.header__text-under::before, .header__text-under::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10px;
  height: 4px;
  background-color: #ffcc00;
}

.header__text-under::before {
  right: 25px;
}

.header__text-under::after {
  left: 25px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 5px 15px;
  color: inherit;
  background-color: #fff;
  border: 1px solid #ffcc00;
  text-transform: uppercase;
  -webkit-transition: color .2s ease-in, background-color .1s ease-in;
  transition: color .2s ease-in, background-color .1s ease-in;
}

.header__btn:hover {
  color: #fff;
  background-color: #ffcc00;
  -webkit-transition: color .2s ease-in, background-color .1s ease-in;
  transition: color .2s ease-in, background-color .1s ease-in;
}

.header__btn:active {
  background-color: #f0c000;
}

.header__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__point {
  width: 11px;
  height: 11px;
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius: 50%;
  margin-right: 10px;
}

.header__point:last-child {
  margin-right: 0;
}

.header__point.active {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .header__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__between {
    width: 90%;
    min-height: 1px;
    margin-bottom: 30px;
  }
  .header__column {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .header__left-btn, .header__right-btn {
    top: 50%;
  }
}

@media screen and (max-width: 576px) {
  .header__img::before, .header__img::after {
    width: 140px;
  }
  .header__container .angle-1::after,
  .header__container .angle-2::after,
  .header__container .angle-3::after,
  .header__container .angle-4::after {
    height: 60px;
  }
  .header__container .angle-1::before,
  .header__container .angle-2::before,
  .header__container .angle-3::before,
  .header__container .angle-4::before {
    width: 60px;
  }
  .header__left-btn, .header__right-btn {
    z-index: 2;
  }
}
/*# sourceMappingURL=style.css.map */