
@import './base';
@import './layout';
@import './variables';

.header {
  text-align: center;
  margin-top: 100px;

  &__subtitle {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 60px;
    margin-bottom: 20px;
    color: $yellow;
  }

  &__img {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 30%;
      max-width: 210px;
      width: 210px;
      height: 1px;
      background-color: $yellow;
    }

    &::before{
      right: 25px;
    }
    
    &::after {
      left: 25px;
    }
  }  

  &__columns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__left-btn,
  &__right-btn {
    position: absolute;
    width: 15px;
    height: 15px;
    visibility: hidden;

    &:active {
      &::before {
        border-color: darken($yellow, 3%);
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: -3px;
      visibility: visible;
      width: 15px;
      height: 15px;
      border-left: 3px solid $yellow;
      border-top: 3px solid $yellow;

      
    }
  }

  &__left-btn {
    left: 0;

    &::before {
      left: 0px;
      transform: rotate(-45deg);
    }
    &:active {
      &::before {
        left: -3px;      }
    }
  }

  &__right-btn {
    right: 0;

    &::before {
      right: 0px;
      transform: rotate(135deg);
    }
    &:active {
      &::before {
        right: -3px;
      }
    }
  }

  &__column {
    width: 50%;
    padding: 50px;
  }

  &__container {
    position: relative;
    max-width: 418px;
    max-height: 418px;
    margin: 0 auto;
    padding: 15px;
    
    &--angle {

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $yellow;
      }
    }

    .angle-1::after,
    .angle-2::after,
    .angle-3::after,
    .angle-4::after {
      height: 100px;
      width: 1px;
    }

    .angle-1::before,
    .angle-2::before,
    .angle-3::before,
    .angle-4::before {
      width: 100px;
      height: 1px;
    }

    .angle-1::before,
    .angle-1::after,
    .angle-2::before,
    .angle-2::after {
      top: 0;
    }

    .angle-3::before,
    .angle-3::after,
    .angle-4::before,
    .angle-4::after {
      bottom: 0;
    }

    .angle-1::before,
    .angle-1::after,
    .angle-3::before,
    .angle-3::after {
      left: 0;
    }

    .angle-2::before,
    .angle-2::after,
    .angle-4::before,
    .angle-4::after {
      right: 0;
    }
  }

  &__between {
    height: 100%;
    width: 1px;
    min-height: 560px;
    background-color: $yellow;
  }

  &__teammate {

    img {
      border: 1px solid $yellow;
    }
  }

  &__teammate-name {
    position: relative;
    font-size: 36px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 1px;
      background-color: $yellow;
    }
  }

  &__teammate-position {
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }

  &__item {
    margin-right: 5px;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    color: #ccc;
    font-size: 12px;
    
    &:hover {
      color: $yellow;
      border-color: $yellow;
      transition: color .2s ease-in, border-color .2s ease-out;
    }
  }

  &__text {
    max-width: 420px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__text-under {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 4px;
    margin-bottom: 25px;
    background-color: $yellow;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 4px;
      background-color: $yellow;
    }
    &::before {
      right: 25px;
    }

    &::after {
      left: 25px;
    }
  }

  &__btn {
    display: flex;
    margin: 0 auto;
    padding: 5px 15px;
    color: inherit;
    background-color: #fff;
    border: 1px solid $yellow;
    text-transform: uppercase;
    transition: color .2s ease-in, background-color .1s ease-in;
    
    &:hover {
      color: #fff;
      background-color: $yellow;
      transition: color .2s ease-in, background-color .1s ease-in;
    }

    &:active {
      background-color: darken($yellow, 3%);
    }
  }

  &__points {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  &__point {
    width: 11px;
    height: 11px;
    background-color: $yellow;
    border: 1px solid $yellow;
    border-radius: 50%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }


    &.active {
      background-color: #fff;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .header {

    &__columns {
      flex-direction: column;
    }

    &__between {
      width: 90%;
      min-height: 1px;
      margin-bottom: 30px;
    }

    &__column {
      width: 100%;
      padding: 0;
      margin-bottom: 30px;
    }

    &__left-btn,
    &__right-btn {
      top: 50%;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, sm)) {
  .header {

    &__img {
      
      &::before,
      &::after {
        width: 140px;
      }
    }

    &__container {
  
      .angle-1::after,
      .angle-2::after,
      .angle-3::after,
      .angle-4::after {
        height: 60px;
      }
  
      .angle-1::before,
      .angle-2::before,
      .angle-3::before,
      .angle-4::before {
        width: 60px;
      }
    }

    &__left-btn,
    &__right-btn{
      z-index: 2;
    }
  }
}